
<html lang="en">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body{
             background-color: rgb(200, 234, 243);
        }
        thead,
        tfoot {
    background-color: rgb(209, 239, 79);
    text-shadow: 1px 1px 1px rgb(242, 237, 237);
        }
        thead th,
        tfoot th,
        tfoot  td{
            background: linear-gradient(to bottom,rgba(194, 190, 190, 0.1),rgba(0,0,0,0.5));
            border:3px solid rgb(224, 231, 115)
        }
        tbody tr:nth-child(odd){
            background-color: rgb(232, 243, 118);
        }
        tbody tr:nth-child(even){
            background-color: rgb(205, 217, 149);
        }
        tbody tr{
            background-image: url();
        }
    table{
        background-color: rgb(9, 10, 10);
    }
       </style>
    
    <body>
        <div class="container mt-4">
          <table align="center" border="1" width="10%">
                <thead class="thead-dark">
                    <tr>
                        <th>id</th>
                        <th>staffid</th>
                        <th>staffname</th>
                        <th>department</th>
                        <th>email</th>
                        <th>officenumber</th>
                        <th>password</th>
                        <th>confirmpassword</th>
                        <th>position</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data.length)
                    {
                        for(var i=0;i<data.length;i++)
                        {
                            %>
                            <tr>
                                <th scope="row"><%=data[i].id %></th>
                                <td><%=data[i].staffid%></td>
                                <td><%=data[i].staffname %></td>
                                <td><%=data[i].department %></td>
                                <td><%=data[i].email %></td>
                                <td><%=data[i].officenumber %></td>
                                <td><%=data[i].password %></td>
                                <td><%=data[i].confirmpassword %></td>
                                <td><%=data[i].position %></td>
                               <td>
                                <a href="staffupdate" class="btn border-shadow update">
                                    <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                </a>
                                <a href="staffdelete" class="btn border-shadow delete">
                                    <span class="text-gradient"><i class="fas fa-times"></i></span>
                                </a>
                               </td>
                            </tr>
                            <br>
                            <%
                        }
                    }
                    else
                    {
                        %>
                        <tr>
                            <td>no data found</td>
                        </tr>
                  <%  } %>
                 
                </tbody>
            </table>
        </div>
    </body>
</html>