




<html lang="en">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
 <style>
    body{
             background-color: rgb(200, 234, 243);
        }
    thead,
    tfoot {
background-color: rgb(223, 161, 223);
text-shadow: 1px 1px 1px rgb(242, 237, 237);
    }
    thead th,
    tfoot th,
    tfoot  td{
        background: linear-gradient(to bottom,rgba(194, 190, 190, 0.1),rgba(0,0,0,0.5));
        border:3px solid rgb(230, 214, 230)
    }
    tbody tr:nth-child(odd){
        background-color: rgb(185, 130, 184);
    }
    tbody tr:nth-child(even){
        background-color: rgb(217, 171, 214);
    }
    tbody tr{
        background-image: url();
    }
table{
    background-color: rgb(241, 247, 247);
}
   </style>
 <body>
<div class="container mt-4">
            <table align="center" border="1" width="50%">
                <thead class="thead-dark">
                    <tr>
                        <th>sno</th>
                        <th>subjectcode</th>
                        <th>subjectname</th>
                        <th>credithour</th>
                        <th>semester</th>
                        <th>year</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data.length)
                    {
                        for(var i=0;i<data.length;i++)
                        {
                            %>
                            <tr>
                                <th scope="row"><%=data[i].sno%></th>
                                <td><%=data[i].subjectcode %></td>
                                <td><%=data[i].subjectname %></td>
                                <td><%=data[i].credithour %></td>
                                <td><%=data[i].semester %></td>
                                <td><%=data[i].year %></td>
                               <td>
                                <a href="subupdate" class="btn border-shadow update">
                                    <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                </a>
                                <a href="subdelete" class="btn border-shadow delete">
                                    <span class="text-gradient"><i class="fas fa-times"></i></span>
                                </a>
                               </td>
                            </tr>
                            <br>
                            <%
                        }
                    }
                    else
                    {
                        %>
                        <tr>
                            <td>no data found</td>
                        </tr>
                  <%  } %>
                 
                </tbody>
            </table>
        </div>
    </body>
</html>